@import "tailwindcss";
@import "@xterm/xterm/css/xterm.css";

@plugin "tailwindcss-animate";

.scrollbar-none,
.xterm .xterm-viewport {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar,
.xterm .xterm-viewport::-webkit-scrollbar {
  display: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@theme inline {
  --color-background: oklch(0.141 0.005 285.823);
  --color-foreground: oklch(0.985 0 0);
  --color-card: oklch(0.141 0.005 285.823);
  --color-card-foreground: oklch(0.985 0 0);
  --color-popover: oklch(0.141 0.005 285.823);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.985 0 0);
  --color-primary-foreground: oklch(0.205 0.006 285.885);
  --color-secondary: oklch(0.274 0.006 286.033);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.274 0.006 286.033);
  --color-muted-foreground: oklch(0.708 0.014 285.823);
  --color-accent: oklch(0.274 0.006 286.033);
  --color-accent-foreground: oklch(0.985 0 0);
  --color-destructive: oklch(0.396 0.141 25.723);
  --color-destructive-foreground: oklch(0.985 0 0);
  --color-border: oklch(0.274 0.006 286.033);
  --color-input: oklch(0.274 0.006 286.033);
  --color-ring: oklch(0.556 0.016 286.067);
  --radius: 0.625rem;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}
